{% extends layout("default") %}

{% block sidebar %}
    <div class="card">
        <h3 class="card-title">All Committees</h3>
        <ul class="clean table">
            {% for c in committies %}
            <li {% if ( c.year == year) %}class="current"{% endif %}>
                <a  href="/about-us/{{ c.year }}"
                    title="{{ c.year }} Committee">
                    {{ c.year }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    <h1>{{ year }} Committee</h1>
    <div class="wiki-flex">
        {% for member in committee.members %}
        <div class="card">
            <h2 class="card-title">{{ member.name }}</h2>
            <p class="sub">{{ member.role }}</p>
            <img class="lazy all" data-src="{{ member.image.make.url }}" data-width="{{ member.image.width }}" data-height="{{ member.image.height }}"/>
            <p>{{ member.description }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}